<div class="container">


  <div class="text mb-2">
    <h1>Ajouter</h1>
    <p>un événement</p>
  </div>
  <div class="">
    <% @other_event_types.each do |type| %>
      <%= link_to new_baby_event_path(type:type), class: "text-decoration" do %>
      <div class="card baby d-flex align-items-center">
        <div class="event-icon"><%= image_tag "Evenement.png", height: 40, width: 40 %></div>
        <div>
          <h2><%= type %> Perso</h2>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <div class="d-flex flex-row mt-5">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active d-flex flex-column-reverse slide-it"><h1>Quotidien</h1></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="d-flex flex-column-reverse slide-it"><h1>Santé</h1></li>
      <!--  <li data-target="#carouselExampleIndicators" data-slide-to="2" class="d-flex flex-column-reverse"><h1>Autre</h1></li> -->
      </ol>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% @daily_types.each do |type| %>
          <%= link_to new_baby_event_path(type:type), class: "text-decoration" do %>
          <div class="card baby d-flex align-items-center">
            <div class="event-icon"><%= image_tag "#{type}.png", height: 40, width: 40 %></div>
            <div>
              <h2><%= type %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-item">
      <% @health_types.each do |type| %>
        <%= link_to new_baby_event_path(type:type), class: "text-decoration" do %>
        <div class="card baby d-flex align-items-center">
          <div class="event-icon"><%= image_tag "#{type}.png", height: 40, width: 40 %></div>
          <div>
            <h2><%= type %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
