
<body>
  <div class="container">
    <h1><%= @event.type %></h1>
    <h2>Nouvel Evénement</h2>
    <%= simple_form_for [@baby, @event] do |f| %>
      <%= f.input :value_float, :label => 'Quantité (ml)' if @event.type == "Biberon" %>
      <%= f.input :value_string, :label => 'Description' if @event.type == "Repas" %>
      <%= f.input :value_string, as: :select, collection: Event::DIAPER_CONTENT, label: "Contenu" if @event.type == "Couche" %>
      <%= f.input :start_time, as: :datetime, :label => 'Date et Heure', html5: true %>
      <%= f.input :end_time, :label => 'Quantité (ml)' if @event.type == "Dodo" || @event.type == "Maladie"  %>
      <%= f.input :comment, :label => 'Commentaire' %>
      <%= f.submit %>
    <% end %>
  </div>
</body>