<div class="container-page">
  <div class="container">
    <div class="text-up">
      <h1><%= @baby.name %></h1>
      <p>Un evénement</p>
    </div>
    <div class ="search-form">
      <%= form_tag event_timeline_baby_path, method: :get do %>
      <%= date_field_tag :start_time, params[:start_time], class: "form-control", placeholder: "Rechercher par date"%>
      <%= submit_tag "Recherche", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="timeline">
      <% last_date = [] %>
      <% @events.each do |event| %>
        <div class="container-timeline left">
          <% if last_date.last != event.start_time %>
            <div class="date-timeline">
              <h2><%= event.start_time.strftime("%d.%m.%Y") %></h2>
              <% last_date << event.start_time %>
            </div>
          <% else %>
            <%= "" %>
          <% end %>
          <%= link_to baby_event_path(@baby) do %>
            <div class="card event" id="card-timeline">
              <h2 class="text-timeline">Biberon</h2>
              <h2 class="text-timeline"><%= event.type %></h2>
              <p class="text-timeline"><%= event.start_time.strftime("%Hh%M") %></p>
              <p class="text-timeline"><%= event.value_string %></p>
              <p class="text-timeline"><%= event.value_float.to_i %> ml</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

