<div class="container-page">
  <div class="container">
    <div class="text-up">
      <h1><%= @baby.name %></h1>
      <p>Un evénement</p>
    </div>
    <div class ="search-form">
      <%= form_tag event_timeline_baby_path, method: :get do %>
      <%= text_field_tag :start_time,
      params[:start_time],
      class: "form-control",
      placeholder: "Rechercher par date"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="timeline">
      <% last_date = [] %>
      <% @events.each do |event| %>
        <div class="container-timeline left">
          <% if last_date.last != event.start_time %>
            <div class="date-timeline">
              <h2><%= event.start_time.strftime("%m.%d.%Y") %></h2>
              <% last_date << event.start_time %>
            </div>
          <% else %>
            <%= "" %>
          <% end %>
          <div class="card event" id="card-timeline">
            <h2>Biberon</h2>
            <h2><%= event.type %></h2>
            <p><%= event.start_time.strftime("%m.%d.%Y") %> à <%= event.start_time.strftime("%H:%M") %></p>
            <p><%= event.value_string %></p>
            <p><%= event.value_float.to_i %> ml</p>
            <p><%= event.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

