<div class="container">
  <div>
    <h1><%= @baby.name %></h1>
    <div >
      <%= form_with url: "/search", method: :get do |form| %>
        <%= form.select :city, ["Hier", "Semaine dernière", "Mois dernier"] %>
      <% end %>
    </div>
  </div>
</div>
<div class="container stats-container">
  <div class="row mb-3">
    <div class="col-7">
      <div class="card d-flex flex-row align-items-center justify-content-center">
        <div>
          <h1><%= @sleep %> min</h1>
          <p>de sommeil</p>
        </div>
      <img src="<%= image_path 'Dodo.png' %>" alt="dodo">
      </div>
    </div>
    <div class="col">
      <div class="card d-flex align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1><%= @diaper %></h1>
          <p>couches</p>
        </div>
        <img class="bg-icon" src="<%= image_path 'Couche.png' %>" alt="lait">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card d-flex flex-row align-items-center">
        <div>
          <h1><%= @milk %> ml</h1>
          <p>de lait ingurgité</p>
        </div>
        <img id="bibi" src="<%= image_path 'Biberon.png' %>" alt="lait">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="card d-flex align-items-center"">
        <div class="d-flex flex-column justify-content-center align-items-center">
        <h1><%= @weight %> kg</h1>
        <p>Poids actuel</p>
        </div>
        <img class="bg-icon" src="<%= image_path 'Poids.png' %>" alt="poids">
      </div>
    </div>
    <div class="col">
      <div class="card d-flex align-items-center"">
        <div class="d-flex flex-column justify-content-center align-items-center">
        <h1><%= @height %> cm</h1>
        <p>Taille actuelle</p>
        </div>
        <img class="bg-icon" src="<%= image_path 'Taille.png' %>" alt="poids">
      </div>
    </div>
  </div>
</div>
