<body>
  <div class="container">
    <h1>Nouvel enfant</h1>
    <%= simple_form_for(@baby, html: { novalidate: false }) do |f| %>
    <%= f.label :Nom %>
    <%= f.text_field :name%>
    <%= f.label :Sexe %>
    <%= f.text_field :gender %>
    <%= f.label :Date_de_naissance %>
    <%= f.text_field :birth_date %>
    <%= f.label :Taille_de_naissance %>
    <%= f.text_field :height %>
    <%= f.label :Poids_de_naissance %>
    <%= f.text_field :weight %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
  </div>
</body>
