<body>
  <div class="container">
    <div>
      <%= link_to babies_path, class: "navbar-brand" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    </div>
    <h1>Nouvel enfant</h1>
    <%= simple_form_for @baby do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :gender, as: :select, collection: Baby::GENDER, label: "Sexe" %>
    <%= f.input :birth_date, label: "Date de naissance" %>
    <%= f.input :height, label: "Taille de naissance en cm" %>
    <%= f.input :weight, label: "Poids de naissance en kg" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
  </div>
</body>
